<!DOCTYPE html>
<html>
<head>
  <title>SpreeAngularStore</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <meta name="api-key" content="<%= spree_current_user.try(:spree_api_key) %>" />
</head>
<body ng-app="Breakfasts">

<%= yield %>

</body>
</html>

